/* Basic */

body {
    font-family: "Montserrat";
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FFD101;
    background-image: url("https://shpilson.github.io/movee/img/background.svg");
}

.header__top {
    padding: 20px 0;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

.logo__link {
    text-decoration: none;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.button {
    width: 250px;
    height: 51px;
    display: block;
    border: none;
    text-align: center;
    background-color: #FED100;
    color: #333333;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.header__menu {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    text-align: center;
    align-items: center;
}

.header__menu-list {
    list-style-type: none;
}

.header__menu-list-item {
    display: inline-block;
    padding: 0px 25px;
}

.header__menu-link {
    text-decoration: none;
    color: #333;
}

.header__phone {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    text-decoration: underline;
    display: flex;
    text-align: center;
    align-items: center;
}

.header__content {
    background-image: url("https://shpilson.github.io/movee/img/delivery.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    padding: 90px 0px 0px 0px;
    max-width: 50%;
}

.header__content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 126.9%;
    color: #333333;
}

.header__content-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
}

.header__content-button {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background-color: #FF352B;
    height: 70px;
    width: 314px;
    border: none;
    margin: 50px 0px 0px 0px;
    cursor: pointer;
}

.header__content-button:hover {
    background: #FF4C43;
    -moz-box-shadow: 0 0 20px #FF4C43;
    -webkit-box-shadow: 0 0 20px #FF4C43;
    box-shadow: 0 0 20px #FF4C43;
}

.header__content-advantages {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 50px 0px 100px 0px;
}

.header__content-image {
    max-width: 100%;
    padding: 0 5px 0px 0px;
}

.header__content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.how__title {
    text-align: center;
    padding: 60px 0;
}

.how__items {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 50px 100px;
}

.how__item {
    display: flex;
    flex: 0 1 50%;
    padding: 0px 30px;
    margin: 0px 0px 30px 0px;
    align-items: end;
}

.how__item-img {
    width: 61px;
    height: 64px;
}

.how__item-box {
    padding: 0px 0px 0px 30px;
}

.how__undertitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding: 0px 0px 15px 0px;
}

.how__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.prices {
    padding: 50px 0;
}

.prices__title {
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.prices__subtitle {
    text-align: center;
    margin: 0px 0px 60px 0px;
}

.prices__body {
    width: 100%;
    margin: 0px auto;
}

.prices__row {
    display: flex;
    margin: 0px -22.5px;
    justify-content: center;
}

.prices__column {
    flex: 0 1 33.333%;
    display: flex;
}

.prices__item {
    min-width: 420px;
    min-height: 579px;
    color: #333333;
    border: 2px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    text-align: center;
    justify-content: space-evenly;
}

.prices__item--active {
    border: 1px solid #FED100;
}

.prices__column-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.prices__list {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    color: #333333;
}

.prices__column-price {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #333333;
}

.prices__button {
    align-self: center;
    cursor: pointer;
}

.prices__button:hover {
    background: #FFDA2C;
    -moz-box-shadow: 0 0 20px #FFDA2C;
    -webkit-box-shadow: 0 0 20px #FFDA2C;
    box-shadow: 0 0 20px #FFDA2C;
}

.prices__link {
    display: none;
}

.carpark__title {
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.carpark__subtitle {
    text-align: center;
    margin: 0px 0px 60px 0px;
}

.carpark__buttons {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

.carpark__button {
    margin: 0px 20px;
    width: 201px;
    height: 50px;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    cursor: pointer;
}

.carpark__button:hover {
    border: 1px solid #FED100;
}

.carpark__button--active {
    border: 1px solid #FED100;
}

.carpark__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.carpark__car-name {
    margin: 0px 0px 40px 0px;
}

.carpark__img {
    margin: 0px 0px 0px 50px;
}

.carpark__list {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}

.carpark__option {
    background: url('https://shpilson.github.io/movee/img/icon-check.svg') no-repeat center left;
    padding: 4px 0 4px 25px;
    list-style: none;
}

.carpark__order {
    margin: 35px 0px 0px 0px;
    cursor: pointer;
}

.carpark__order:hover {
    background: #FFDA2C;
    -moz-box-shadow: 0 0 20px #FFDA2C;
    -webkit-box-shadow: 0 0 20px #FFDA2C;
    box-shadow: 0 0 20px #FFDA2C;
}

.reviews {
    background-color: #FED100;
}

.reviews__title {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.reviews__box {
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.reviews__item {
    display: flex;
    flex-direction: column;
}

.reviews__date {
    background: url("https://shpilson.github.io/movee/img/icon-stars.svg") no-repeat center center;
    padding: 4px 0px 4px 0px;
    margin: 0px 150px 0px 0px;
    list-style: none;
}

.reviews__text {
    margin: 20px 20px 20px 0px;
}

.reviews__button {
    text-align: center;
    border: 1px solid #333333;
    margin: 60px auto 90px;
    cursor: pointer;
}

.callback__box {
    display: flex;
    justify-content: center;
    margin: 120px auto 120px;
    flex-direction: column;
    width: 1000px;
    text-align: left;
}

.callback__form {
    margin: 50px 0px 0px 0px;
}

.callback__form-input {
    color: rgba(51, 51, 51, 0.7);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #333333;
    margin: 0px 70px 0px 0px;
}

.callback__button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #F2F2F2;
    background: url("https://shpilson.github.io/movee/img/red_button_v2.svg");
    width: 260px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.callback__button:hover {
    background: #FF4C43;
    -moz-box-shadow: 0 0 20px #FF4C43;
    -webkit-box-shadow: 0 0 20px #FF4C43;
    box-shadow: 0 0 20px #FF4C43;
}

.contacts {
    position: relative;
    width: 100%;
    height: 666px;
}

.contacts__title {
    margin: 40px 0px 0px 35px;
}

.contacts__map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contacts__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 368px;
    height: 326px;
    top: 160px;
    background-color: #FFF;
    margin: 0px 0px 0px 150px;
    z-index: 5;
    justify-content: space-between;
}

.contacts__list {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.contacts__list-item {
    background: url('https://shpilson.github.io/movee/img/icon-check-yellow.svg') no-repeat center left;
    padding: 4px 0 4px 25px;
    list-style: none;
    margin: 0px 0px 0px 35px;
}

.contacts__list-item--underline {
    text-decoration: underline;
}

.contacts__social {
    justify-content: flex-end;
    margin: 0px 15px 40px 0px;
}

.social {
    display: flex;
    flex-direction: row;
}

.social__link {
    padding: 0px 25px 0px 0px;
}

.footer {
    background-color: #FFD101;
}

.footer__content {
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 0;
    justify-content: space-between;
}

.footer__logo {
    margin: 0px 0px 44px 0px;
}

.footer__policy {
    max-width: 250px;
    margin: 0px 0px 100px 0px;
}

.footer__policy-inner {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
    padding: 0px 0px 36px 0px;
    color: #333;
}

.footer__menu-list-item {
    padding: 0px 0px 15px 0px;
}

.footer__menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
}

.footer__email {
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.footer__contacts {
    text-align: center;
}

.footer__button {
    border: 1px solid #333333;
    cursor: pointer;
}

.footer__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-decoration: underline;
    padding: 10px 0px 0px 0px;
}

.copyright {
    text-align: center;
    background-color: #FFD101;
    padding: 10px 0px;
}

.copyright__link {
    color: #333;
}

/* Modal Window */

.modal__container {
    width: 400px;
    margin: 0 auto;
}
.modal__header {
    background: #FFD101;
}
.close {
}
.modal__title {
}
.title {
}
.modal__body {
}
.modal__form-input {
}
.modal__button {
}

#modal__window {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal__link {
    text-decoration: none;
    color: #FFF;
}

#modal__callback {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 40%;
    min-width: min-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

#modal__window:target {
    display: block;
}

.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}