/* Рабочая область / Work area */

.container {
    max-width: 1305px;
    margin: 0 auto;
}

@media (max-width: 970px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 750px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

/* Links / Ссылки */

a {
    color: #333333;
}

a:visited {
    color: #333333;
}

/* Titles and Subtitles / Заголовки и подзаголовки */

.title {
    /* Title */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #333333;
}

.subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

/* Header */

.header {
    background-color: #FFD101;
}

/* Header > Logo */

.logo__link {
    text-decoration: none;
}

/* Header > Top */

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

/* Header > Menu */

.header__menu {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.header__menu-list {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.header__menu-list-item {
    display: inline-block;
}

.header__menu-link {
    text-decoration: none;
}

/* Header > Phone */

.header__phone {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

/* CSS Tractor */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {}

.header__top {}

.container {}

.header__top-inner {}

.logo {}

.logo__link {}

.title {}

.header__menu {}

.header__menu-list {}

.header__menu-list-item {}

.header__menu-link {}

.header__phone {}

.header__content {}

.header__content-inner {}

.header__content-title {}

.header__content-subtitle {}

.header__content-button {}

.header__content-advantages {}

.header__content-advantages-reason {}

.how {}

.how__items {}

.how__item {}

.how__item-img {}

.how__item-box {}

.how__title {}

.how__text {}

.prices {}

.subtitle {}

.prices__item {}

.prices__option-title {}

.prices__option-description {}

.prices__options {}

.prices__list {}

.prices__option-price {}

.order {}

.carpark {}

.carpark__buttons {}

.carpark__button {}

.carpark__button--active {}

.carpark__box {}

.carpark__img {}

.carpark__description {}

.carpark__list {}

.reviews {}

.reviews__box {}

.reviews__date {}

.reviews__text {}

.reviews__link {}

.reviews__button {}

.callback {}

.callback__text {}

.callback__content {}

.callback__form {}

.callback__form-input {}

.callback__button {}

.contacts {}

.contacts__map {}

.contacts__box {}

.contacts__list {}

.contacts__list-item {}

.social {}

.social__link {}

.social__link--youtube {}

.social__link--instagram {}

.social__link--facebook {}

.footer {}

.footer__policy {}

.footer__policy-inner {}

.footer__link {}

.footer__navigation {}

.footer__navigation-inner {}

.footer__menu {}

.footer__menu-list {}

.footer__menu-list-item {}

.footer__menu-link {}

.footer__social {}

.footer__contacts {}

.footer__button {}

.footer__phone {}