/* Basic */

body {
    font-family: "Montserrat";
}

a {
    color: #333333;
}

a:visited {
    color: #333333;
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FFD101;
    background-image: url("/img/background.svg");
}

.header__top {
    padding: 20px 0;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
}

@media (max-width: 970px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 750px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

.logo {}

.logo__link {
    text-decoration: none;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
}

.header__menu {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    text-align: center;
    align-items: center;
}

.header__menu-list {
    list-style-type: none;
}

.header__menu-list-item {
    display: inline-block;
    padding: 0px 25px;
}

.header__menu-link {
    text-decoration: none;
}

.header__phone {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    text-decoration: underline;
    display: flex;
    text-align: center;
    align-items: center;
}

.header__content {}

.header__content-inner {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    max-width: 50%;
}

.header__content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 126.9%;
    /* or 89px */
    color: #333333;
}

.header__content-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    padding: 0px 0px 25px 0px;
}

.header__content-button {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;

    background-image: url("/img/red_button1.png");
    max-width: 314px;
    height: 70px;
    border: none;
    padding: 25px 0px;
}

.header__content-advantages {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    max-width: 100%;
    margin: 35px;
}

.header__content-advantages-moves {
    background-image: url("/img/icon-car.svg");
    background-repeat: no-repeat;
    margin: 0 10px;
}

.header__content-advantages-package {
    background-image: url("/img/icon-package.svg");
    background-repeat: no-repeat;
    margin: 0 10px;
}

.header__content-advantages-money {
    background-image: url("/img/icon-money.svg");
    background-repeat: no-repeat;
    margin: 0 10px;
}

.how {}

.how__items {}

.how__item {}

.how__item-img {}

.how__item-box {}

.how__title {}

.how__text {}

.prices {}

.subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.prices__item {}

.prices__option-title {}

.prices__option-description {}

.prices__options {}

.prices__list {}

.prices__option-price {}

.order {}

.carpark {}

.carpark__buttons {}

.carpark__button {}

.carpark__button--active {}

.carpark__box {}

.carpark__img {}

.carpark__description {}

.carpark__list {}

.reviews {}

.reviews__box {}

.reviews__date {}

.reviews__text {}

.reviews__link {}

.reviews__button {}

.callback {}

.callback__text {}

.callback__content {}

.callback__form {}

.callback__form-input {}

.callback__button {}

.contacts {}

.contacts__map {}

.contacts__box {}

.contacts__list {}

.contacts__list-item {}

.social {}

.social__link {}

.social__link--youtube {}

.social__link--instagram {}

.social__link--facebook {}

.footer {}

.footer__policy {}

.footer__policy-inner {}

.footer__link {}

.footer__navigation {}

.footer__navigation-inner {}

.footer__menu {}

.footer__menu-list {}

.footer__menu-list-item {}

.footer__menu-link {}

.footer__social {}

.footer__contacts {}

.footer__button {}

.footer__phone {}