@media (max-width: 970px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .header__menu {
        visibility: hidden;
    }

    .header__content-advantages {
        visibility: hidden;
    }
}