@media (max-width: 970px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 14px;
    }
    .header__content-advantages {
        display: none;
    }
    .header__phone {
        display: none;
    }
    .title {
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: #333333;
        font-size: 20px;
    }
    .header__top {
        padding: 25px 0;
    }
    .header__content {
        background-image: none;
    }
    .header__mobile-photo {
        display: flex;
        justify-content: center;
    }
    .header__content-title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 131.9%;
        color: #333333;
    }
    .header__content-subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
    }
    .header__content-inner {
        padding: 0px 0px 0px 0px;
        max-width: 100%;
        text-align: center;
    }
    .header__menu {
        font-size: 16px;
        line-height: 18px;
    }
    .header__content-button {
        margin: 0 0 40px 0;
        font-size: 20px;
    }
    /* Block "How" */
    .how__title {
        padding: 40px 0;
    }
    .how__item {
        display: flex;
        flex: 1 1 50%;
    }
    .how__items {
        margin: 0 auto;
    }
    .how__undertitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 129.9%;
        color: #333333;
    }
    .how__text {
        display: none;
    }
    /* Block "Prices" */
    .prices {
        background: #F8FBFF;
    }
    .prices__item {
        padding: 40px 0px 0px 0px;
    }
    .prices__subtitle {
        display: none;
    }
    .prices__column {
        display: none;
    }
    .prices__column--active {
        color: #333333;
        background: #F8FBFF;
        border: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;
    }
    .prices__row {
        display: flex;
        flex-direction: row;
    }
    .prices__item--active {
        max-height: fit-content;
        max-width: fit-content;
        border: none;
    }
    .prices__link {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 131.4%;
        /* identical to box height, or 21px */
        text-align: center;
        color: #333333;
        text-decoration: underline;
    }
    /* Block: Carpark */
    .carpark__title {
        margin: 40px 0px 0px 0px;
    }
    .title {}
    .carpark__subtitle {
        display: none;
    }
    .subtitle {}
    .carpark__buttons {
        margin: 20px 0px 0px 0px;
    }
    .carpark__button {
        border: none;
        margin: 0;
        width: auto;
        height: auto;
        background-color: #FFF;
        padding: 0px 13px;
    }
    .carpark__button--active {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        border-bottom: 1px solid #FED100;
    }
    .carpark__box {}
    .carpark__item {
        flex-direction: column;
    }
    .carpark__img {
        margin: 40px 0 20px 0;
    }
    .carpark__list {
        margin: 0 auto 40px;
    }
    .carpark__car-name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #333333;
        margin: 0 auto;
    }
    .carpark__description {
        display: none;
    }
    .carpark__option {}
    .carpark__order {}
    .button {}
}

@media (min-width: 767px) {
    .menu__btn {
        visibility: hidden;
    }
    .header__menu-list {
        visibility: visible;
    }
    .header__mobile-photo {
        display: none;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
    }
}