@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");
@import url("https://shpilson.github.io/movee/css/header.css");
/* Reset */

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}