// Подключаем шрифты
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");

// Шрифт по умолчанию
$fontFamily: "Montserrat";

// Переменные 
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainter: 1305px;