// Подключаем шрифты
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");

// Шрифт по умолчанию
$fontFamily: "Montserrat";

// Переменные 
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainter: 1305;
$md1: $maxWidthContainter + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Основная сетка
._container {
    max-width: $maxWidthContainter + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}